{% extends 'base.html.twig' %}

{% block title %}Liste des Permissions
{% endblock %}

{% block body %}
	<main class="container mt-3">
		<section class="row card">
			<div class="col 12 pt-3 card-header">
				{% if app.user %}
					<h1 class="pt-3">Liste des Permissions</h1>
					<table>
						<thead>
							<th>Nom</th>
							<th>Description</th>
							<th>installée</th>
						</thead>
						<tbody>
							{% for permission in permission %}
								<tr class="categorie pt-3">
									<td class="border">{{ permission.name }}</td>
									<td class="border">{{ permission.description }}</td>
									{% if app.user and permission.install == '1' %}
										<td class="border">oui</td>
									{% else %}
										<td class="border">non</td>
									{% endif %}
								</tr>
							</div>
						</tbody>
					</tr>

				{% else %}
					<p>Aucune permission pour vos structures</p>
				{% endfor %}
			</tbody>
		</div>
	</table>
{% else %}
	<h1 class="pt-3">Bienvenue sur le panneau d'administration de la franchise Happy Fit!
		<br><br>Veuillez vous connecter pour voir vos droits</h1>
{% endif %}</section></main>{% endblock %}
