{% extends 'base.html.twig' %}

{% block title %}Assigner une permission à un utilisateur
{% endblock %}

{% block body %}
	<main class="container mt-3">
		<section class="row card">
			<div class="col 12 pt-3 card-header">
				<h1>Assigner une permission à un utilisateur</h1>
				{{ form(AssignUserForm) }}
				</div>
			</section>
		</main>
	{% endblock %}
