{% extends 'base.html.twig' %}

{% block title %}Assigner une permission à un utilisateur
{% endblock %}

{% block body %}
	<h1>Assigner une permission à un utilisateur</h1>
	{{ form(AssignUserForm) }}{% endblock %}
