{% extends 'base.html.twig' %}

{% block title %}Modifier une permission
{% endblock %}

{% block body %}
	<main class="container mt-3">
		<section class="row card">
			<div class="col 12 pt-3 card-header">
				<h1 class="pt-3">Modifier une permission</h1>
				<div class="pt-3">
					{{ form(permissionForm) }}
					</div>
				</div>
			</section>
		</main>
	{% endblock %}
