{% extends 'base.html.twig' %}

{% block title %}Page admin
{% endblock %}

{% block body %}
	<p>Page admin</p>

	<a href="{{ path('app_admin') }}">
		<button type="submit" class="btn btn-primary">Voir/Modifier les structures</button>
	</a>
	<a href="{{ path('app_admin_permission') }}">
		<button type="submit" class="btn btn-primary">Voir/Modifier les permissions</button>
	</a>
{% endblock %}
