{% extends 'base.html.twig' %}

{% block title %}Page admin
{% endblock %}

{% block body %}
	<main class="container mt-4">
		<h1>Bienvenue sur votre espace d'administration</h1>
		<section class="mt-5">
			<div>
				<a href="{{ path('app_admin') }}">
					<button type="submit" class="btn btn-success">Voir/Modifier les structures</button>
				</a>
				<a href="{{ path('app_admin_permission') }}">
					<button type="submit" class="btn btn-success">Voir/Modifier les permissions</button>
				</a>
			</div>
		</section>
	</main>
{% endblock %}
