{% extends 'base.html.twig' %}

{% block title %}Accès non autorisé
{% endblock %}

{% block body %}
	<main class="container mt-3">
		<section class="row card">
			<div class="col 12 pt-3 card-header">
				<h1 class="pt-3">Accès non autorisé aux utilisateurs autre qu'administrateur</h1>
			</div>
		</section>
	</main>
{% endblock %}
